openapi: 3.0.3
info:
  title: AgriHub Malawi API
  description: Enterprise Agricultural Management Platform
  version: 1.0.0
  contact:
    name: AgriHub Malawi
    email: api@agrihub.mw

servers:
  - url: https://api.agrihub.mw/v1
    description: Production
  - url: https://staging-api.agrihub.mw/v1
    description: Staging

tags:
  - name: System
  - name: Identity
  - name: Dashboard
  - name: AI
  - name: Intelligence
  - name: Agriculture
  - name: Livestock
  - name: Finance
  - name: Marketplace
  - name: Inventory

paths:
  /health:
    get:
      tags: [System]
      summary: System health check
      responses:
        '200':
          description: System is healthy
          
  /v1/auth/login:
    post:
      tags: [Identity]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials
          
  /v1/dashboard:
    get:
      tags: [Dashboard]
      summary: Get user dashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard data
          
  /v1/ai/chat:
    post:
      tags: [AI]
      summary: AI chat assistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                context:
                  type: string
      responses:
        '200':
          description: AI response
          
  /v1/intelligence/report:
    get:
      tags: [Intelligence]
      summary: Agricultural intelligence report
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Intelligence report

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
